extends ./partials/_layout

block link
	-var selected = 'home';

block content
	.container
		each file in pagination.files
			.row.gallery(id=file.title style='margin-bottom:40px;')
				a.col-xs-12(href='/' + file.path)
					h3(style='margin:0px')= file.title
					hr
				each image in file.images
					a.col-xs-12.col-sm-3.img(href='/' + image title=image)
						img.img-responsive.img-thumb(src='/' + image alt=image title=image)


		ul.pagination
			if pagination.previous
				//- li: a(href='/' + pagination.first.path) First
				li: a(href='/' + pagination.previous.path) &larr;
			else
				li.inactive

			-var n = 1
			while n <= pagination.pages.length
				if n == pagination.num
					li.page-link.active
						a(href='/posts' + '/' + n)= n++
				else
					li.page-link
						a(href='/posts' + '/' + n)= n++

			if pagination.next
				li: a(href='/' + pagination.next.path) &rarr;
				//- li: a(href='/' + pagination.last.path) Last
			else
				li.inactive